@import "~@dasnoo/material-html/all";

@import '../assets/fonts/font-icons';

:root{
	@include apply-theme-l('blue', 'amber');
}
body{
	margin: 0;
	padding: 0;
}

ul{
	width: 30rem;
	height: 30rem;
	overflow-y: auto;
	overflow-x: hidden;
}
i{
	margin-right: var(--spacing-md);
}
textarea{
	flex-grow : 1;
	margin: 0;
	padding: 0;
	height: 1.2rem;
	outline: none;
	resize: none;
	font-size: inherit;
	font: inherit;
	border: none;
	white-space: nowrap;
  overflow: hidden;
	text-overflow: ellipsis;
}
.li{
	display: flex;
	align-items: center;
	padding: var(--spacing-md);
	font-size: 1.2rem;
	font-weight: 400;
}
.li > *{
	/* so events fall through to the li elem*/
	pointer-events: none;	
}